body{
	margin: 30px;
}

#table_horse{
	width: 80%;
	border-color: black;
	border-spacing: 0px;
	margin-top: 10px;
}

#table_horse td{
	border-color: black;
}

#table_horse tr{
	text-align: center;
}

#btn_bkup{
	margin-top: 10px;
}

#filters{
	margin-top: 10px;
}